In [1]:
using SQLite
import SQLite.Stmt
import SQLite.DBInterface.execute
using Distributions

In [2]:
db1 = SQLite.DB("output/before/sweep_db_gathered.sqlite")
db2 = SQLite.DB("output/after/sweep_db_gathered.sqlite")

SQLite.DB("output/after/sweep_db_gathered.sqlite")

In [5]:
[(run_id, time, value) for (run_id, time, value) in execute(db1, "SELECT * FROM run_meta WHERE key = \"elapsed_time\"")]

16-element Vector{Tuple{Int64, String, Float64}}:
 (1, "elapsed_time", 626.674)
 (2, "elapsed_time", 651.306)
 (3, "elapsed_time", 627.021)
 (4, "elapsed_time", 656.851)
 (5, "elapsed_time", 666.755)
 (6, "elapsed_time", 671.558)
 (7, "elapsed_time", 661.042)
 (8, "elapsed_time", 667.093)
 (9, "elapsed_time", 670.459)
 (10, "elapsed_time", 660.387)
 (11, "elapsed_time", 656.222)
 (12, "elapsed_time", 668.965)
 (13, "elapsed_time", 651.669)
 (14, "elapsed_time", 671.954)
 (15, "elapsed_time", 657.675)
 (16, "elapsed_time", 652.863)

In [10]:
import StatsAPI.pvalue
import StatsBase.mean
import StatsBase.mad
import HypothesisTests.ApproximateTwoSampleKSTest

# Functions to compare using K-S tests

"""
    Do K-S tests using SQLite queries that take one parameter, run_id.

    `db1` and `db2` are assumed to have identical parameter combinations labeled the same way,
    via the `combo_id` column in the `runs` table.

    The query should return a single value for the provided run_id.

    If values from db2 need to be extracted with a different query, provide a value for `q2`.
"""
function compare(db1, db2, q1; q2 = q1)
    combo_ids = get_combo_ids(db1)
    @assert all(combo_ids .== get_combo_ids(db2))
    [(combo_id, compare(db1, db2, combo_id, q1; q2 = q2)) for combo_id in combo_ids]
end

function get_combo_ids(db)
    [combo_id for (combo_id,) in execute(db, "SELECT DISTINCT combo_id FROM runs ORDER BY combo_id")]
end

function get_run_ids(db, combo_id)
    [run_id for (run_id,) in execute(db, "SELECT run_id FROM runs WHERE combo_id = ?", [combo_id])]
end

function compare(db1, db2, combo_id, q1; q2 = q1)
    v1 = query_values_for_combo_id(db1, combo_id, q1)
    mean1 = mean(v1)
    mad1 = mad(v1; center = mean1)

    v2 = query_values_for_combo_id(db2, combo_id, q2)
    mean2 = mean(v2)
    mad2 = mad(v2; center = mean2)

    (ApproximateTwoSampleKSTest(v1, v2), (mean1, mad1), (mean2, mad2))
end

function query_values_for_combo_id(db, combo_id, q)
    stmt = Stmt(db, q)
    run_ids = get_run_ids(db, combo_id)

    [query_value_for_run_id(stmt, run_id) for run_id in run_ids]
end

function query_value_for_run_id(stmt, run_id)
    for (value,) in execute(stmt, (run_id,))
        return value
    end
end

query_value_for_run_id (generic function with 1 method)

In [13]:
for (combo_id, (test, (mean1, mad1), (mean2, mad2))) in compare(
    db1, db2, "SELECT value FROM run_meta WHERE key = \"elapsed_time\" AND run_id = ?"
)
    println("Testing elapsed time for parameter combination $(combo_id)...")
    println("    (mean1 $(mean1), mad1 $(mad1))")
    println("    (mean2 $(mean2), mad2 $(mad2))")
    println("    p-value: $(pvalue(test))")
    if pvalue(test) < 0.01
        println("    DIFFERENT distributions w/ p < 0.01")
    else
        println("    undetectable difference between distributions w/ p < 0.01")
    end
end

Testing elapsed time for parameter combination 1...
    (mean1 657.4058749999999, mad1 11.452360836846488)
    (mean2 591.86375, mad2 38.166999561544316)
    p-value: 9.570234784258016e-6
    DIFFERENT distributions w/ p < 0.01